In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# read movie basics csv ignoring some columns
movieBasics = pd.read_csv('./input/movieBasics.csv', usecols=['tconst', 'isAdult', 'startYear', 'runtimeMinutes', 'genres'])
movieBasics.head()

      tconst  isAdult startYear runtimeMinutes                  genres
0  tt0000009        0      1894             45                 Romance
1  tt0000147        0      1897             20  Documentary,News,Sport
2  tt0000335        0      1900             \N         Biography,Drama
3  tt0000502        0      1905            100                      \N
4  tt0000574        0      1906             70   Biography,Crime,Drama

In [3]:
# set up ratings table
ratings = pd.read_csv('./input/title.ratings.tsv', sep="\t")
ratings.sort_values(by=['numVotes'], ascending=False)

            tconst  averageRating  numVotes
81166    tt0111161            9.3   2270157
244017   tt0468569            9.0   2233191
553453   tt1375666            8.8   1991458
97366    tt0137523            8.8   1801220
80950    tt0110912            8.9   1774104
...            ...            ...       ...
621085   tt1756261            8.4         5
186699   tt0327571            6.4         5
896960   tt5693174            9.0         5
505366  tt11861042            6.6         5
737945   tt2881328            4.2         5

[1061121 rows x 3 columns]

In [4]:
# set up crew table
crew = pd.read_csv('./input/title.crew.tsv', sep='\t')
crew.head()

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

In [5]:
# set up the principles table
prin = pd.read_csv('./input/titlePrinciples.tsv', sep='\t', usecols=['tconst', 'nconst', 'category'])
prin.head()

      tconst     nconst         category
0  tt0000001  nm1588970             self
1  tt0000001  nm0005690         director
2  tt0000001  nm0374658  cinematographer
3  tt0000002  nm0721526         director
4  tt0000002  nm1335271         composer

In [6]:
# condense title principles into a smaller table that only has actors
actorPrin = prin[prin.category == 'actor']
actorPrin = actorPrin.drop(['category'], axis=1)
actorPrin.head()

       tconst     nconst
11  tt0000005  nm0443482
12  tt0000005  nm0653042
16  tt0000007  nm0179163
17  tt0000007  nm0183947
21  tt0000008  nm0653028

In [7]:
# put multiple actors on one line
actors = actorPrin.groupby('tconst')['nconst'].apply(','.join).reset_index()
actors.head()

      tconst               nconst
0  tt0000005  nm0443482,nm0653042
1  tt0000007  nm0179163,nm0183947
2  tt0000008            nm0653028
3  tt0000009  nm0183823,nm1309758
4  tt0000011            nm3692297

In [8]:
df1 = pd.merge(movieBasics,ratings,on='tconst',how='left')
df1.head()

,tconst,isAdult,startYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000009,0,1894,45,Romance,5.9,154.0
1,tt0000147,0,1897,20,"Documentary,News,Sport",5.2,355.0
2,tt0000335,0,1900,\N,"Biography,Drama",6.1,41.0
3,tt0000502,0,1905,100,\N,3.8,6.0
4,tt0000574,0,1906,70,"Biography,Crime,Drama",6.1,588.0

In [9]:
df2 = pd.merge(df1,crew,on='tconst',how='left')
df2.head()

,tconst,isAdult,startYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers
0,tt0000009,0,1894,45,Romance,5.9,154.0,nm0085156,nm0085156
1,tt0000147,0,1897,20,"Documentary,News,Sport",5.2,355.0,nm0714557,\N
2,tt0000335,0,1900,\N,"Biography,Drama",6.1,41.0,"nm0095714,nm0675140",\N
3,tt0000502,0,1905,100,\N,3.8,6.0,nm0063413,"nm0063413,nm0657268,nm0675388"
4,tt0000574,0,1906,70,"Biography,Crime,Drama",6.1,588.0,nm0846879,nm0846879

In [10]:
df3 = pd.merge(df2,actors,on='tconst',how='left')
df3.head()
print(df3.shape)

(557550, 10)

In [11]:
# remove adult films
df4 = df3[df3.isAdult == 0]
print(df4.shape)

(548731, 10)

In [12]:
df5 = df4.drop(['tconst', 'isAdult'], axis=1)
df5.head()

,startYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers,nconst
0,1894,45,Romance,5.9,154.0,nm0085156,nm0085156,"nm0183823,nm1309758"
1,1897,20,"Documentary,News,Sport",5.2,355.0,nm0714557,\N,NaN
2,1900,\N,"Biography,Drama",6.1,41.0,"nm0095714,nm0675140",\N,"nm1012612,nm1011210,nm1012621,nm0675239,nm0675260"
3,1905,100,\N,3.8,6.0,nm0063413,"nm0063413,nm0657268,nm0675388","nm0215752,nm0252720"
4,1906,70,"Biography,Crime,Drama",6.1,588.0,nm0846879,nm0846879,"nm0846894,nm3002376"

In [318]:
# remove films with less than 100 ratings
df6 = df5[df5.numVotes > 9999]
print(df6.shape)

(8638, 8)

In [319]:
df6.to_csv('OurData2.zip', index=False)

In [320]:
df6.head()

,startYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers,nconst
936,1915,195,"Drama,History,War",6.3,22122.0,nm0000428,"nm0228746,nm0000428,nm0940488",nm0910400
1937,1916,163,"Drama,History",7.8,13835.0,nm0000428,"nm0048512,nm0115218,nm0000428,nm0002616,nm0640...","nm0366008,nm0877548"
4436,1920,76,"Fantasy,Horror,Mystery",8.1,55301.0,nm0927468,"nm0562346,nm0417917","nm0470328,nm0891998,nm0270415"
6047,1921,68,"Comedy,Drama,Family",8.3,108411.0,nm0000122,nm0000122,"nm0088471,nm0000122,nm0001067,nm0588033,nm0042..."
6807,1922,91,"Fantasy,History,Horror",7.7,11721.0,nm0159725,nm0159725,nm0159725

In [321]:
#convert array of directors into single number value representing each director
def firstName(string):
    return string[2:].split(',', 1)[0]

df6.directors = pd.to_numeric(df6.directors.apply(firstName))
df6.head()

,startYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers,nconst
936,1915,195,"Drama,History,War",6.3,22122.0,428.0,"nm0228746,nm0000428,nm0940488",nm0910400
1937,1916,163,"Drama,History",7.8,13835.0,428.0,"nm0048512,nm0115218,nm0000428,nm0002616,nm0640...","nm0366008,nm0877548"
4436,1920,76,"Fantasy,Horror,Mystery",8.1,55301.0,927468.0,"nm0562346,nm0417917","nm0470328,nm0891998,nm0270415"
6047,1921,68,"Comedy,Drama,Family",8.3,108411.0,122.0,nm0000122,"nm0088471,nm0000122,nm0001067,nm0588033,nm0042..."
6807,1922,91,"Fantasy,History,Horror",7.7,11721.0,159725.0,nm0159725,nm0159725

In [182]:
# create a dictionary for genres relating to a number
i = 0

# assign a new key value map
def assignNewKey(str):
    if ',' in str:
        str = str.split(',')
    if isinstance(str, list):
        [assignNewKey(element) for element in str]

    elif str not in gd.keys():
        global i
        i = i + 1
        gd[str] = i
        

gd = dict()
gd[''] = 0

# iterate through every genre and create a hashmap for genres
df6.genres.apply(assignNewKey)

print(gd)

{'': 0, 'Drama': 1, 'History': 2, 'War': 3, 'Fantasy': 4, 'Horror': 5, 'Mystery': 6, 'Comedy': 7, 'Family': 8, 'Documentary': 9, 'Action': 10, 'Thriller': 11, 'Romance': 12, 'Adventure': 13, 'Sci-Fi': 14, 'Biography': 15, 'Music': 16, 'Musical': 17, 'Crime': 18, 'Film-Noir': 19, 'Sport': 20, 'Animation': 21, 'Western': 22, 'News': 23}

In [351]:
# generate a list of genre combinations
perms = []

for i in range (0,24):
    for j in range (0, 24):
        for k in range (0, 24):
            nums = [i,j,k]
            nums.sort()
            nums = [str(element) for element in nums]
            nums = ",".join(nums)
            perms.append(nums)
            

perms = list(dict.fromkeys(perms))
print(perms)

, '2,14,22', '2,14,23', '2,15,15', '2,15,16', '2,15,17', '2,15,18', '2,15,19', '2,15,20', '2,15,21', '2,15,22', '2,15,23', '2,16,16', '2,16,17', '2,16,18', '2,16,19', '2,16,20', '2,16,21', '2,16,22', '2,16,23', '2,17,17', '2,17,18', '2,17,19', '2,17,20', '2,17,21', '2,17,22', '2,17,23', '2,18,18', '2,18,19', '2,18,20', '2,18,21', '2,18,22', '2,18,23', '2,19,19', '2,19,20', '2,19,21', '2,19,22', '2,19,23', '2,20,20', '2,20,21', '2,20,22', '2,20,23', '2,21,21', '2,21,22', '2,21,23', '2,22,22', '2,22,23', '2,23,23', '3,3,3', '3,3,4', '3,3,5', '3,3,6', '3,3,7', '3,3,8', '3,3,9', '3,3,10', '3,3,11', '3,3,12', '3,3,13', '3,3,14', '3,3,15', '3,3,16', '3,3,17', '3,3,18', '3,3,19', '3,3,20', '3,3,21', '3,3,22', '3,3,23', '3,4,4', '3,4,5', '3,4,6', '3,4,7', '3,4,8', '3,4,9', '3,4,10', '3,4,11', '3,4,12', '3,4,13', '3,4,14', '3,4,15', '3,4,16', '3,4,17', '3,4,18', '3,4,19', '3,4,20', '3,4,21', '3,4,22', '3,4,23', '3,5,5', '3,5,6', '3,5,7', '3,5,8', '3,5,9', '3,5,10', '3,5,11', '3,5,12', '3,5,13', '3,5,14', '3,5,15', '3,5,16', '3,5,17', '3,5,18', '3,5,19', '3,5,20', '3,5,21', '3,5,22', '3,5,23', '3,6,6', '3,6,7', '3,6,8', '3,6,9', '3,6,10', '3,6,11', '3,6,12', '3,6,13', '3,6,14', '3,6,15', '3,6,16', '3,6,17', '3,6,18', '3,6,19', '3,6,20', '3,6,21', '3,6,22', '3,6,23', '3,7,7', '3,7,8', '3,7,9', '3,7,10', '3,7,11', '3,7,12', '3,7,13', '3,7,14', '3,7,15', '3,7,16', '3,7,17', '3,7,18', '3,7,19', '3,7,20', '3,7,21', '3,7,22', '3,7,23', '3,8,8', '3,8,9', '3,8,10', '3,8,11', '3,8,12', '3,8,13', '3,8,14', '3,8,15', '3,8,16', '3,8,17', '3,8,18', '3,8,19', '3,8,20', '3,8,21', '3,8,22', '3,8,23', '3,9,9', '3,9,10', '3,9,11', '3,9,12', '3,9,13', '3,9,14', '3,9,15', '3,9,16', '3,9,17', '3,9,18', '3,9,19', '3,9,20', '3,9,21', '3,9,22', '3,9,23', '3,10,10', '3,10,11', '3,10,12', '3,10,13', '3,10,14', '3,10,15', '3,10,16', '3,10,17', '3,10,18', '3,10,19', '3,10,20', '3,10,21', '3,10,22', '3,10,23', '3,11,11', '3,11,12', '3,11,13', '3,11,14', '3,11,15', '3,11,16', '3,11,17', '3,11,18', '3,11,19', '3,11,20', '3,11,21', '3,11,22', '3,11,23', '3,12,12', '3,12,13', '3,12,14', '3,12,15', '3,12,16', '3,12,17', '3,12,18', '3,12,19', '3,12,20', '3,12,21', '3,12,22', '3,12,23', '3,13,13', '3,13,14', '3,13,15', '3,13,16', '3,13,17', '3,13,18', '3,13,19', '3,13,20', '3,13,21', '3,13,22', '3,13,23', '3,14,14', '3,14,15', '3,14,16', '3,14,17', '3,14,18', '3,14,19', '3,14,20', '3,14,21', '3,14,22', '3,14,23', '3,15,15', '3,15,16', '3,15,17', '3,15,18', '3,15,19', '3,15,20', '3,15,21', '3,15,22', '3,15,23', '3,16,16', '3,16,17', '3,16,18', '3,16,19', '3,16,20', '3,16,21', '3,16,22', '3,16,23', '3,17,17', '3,17,18', '3,17,19', '3,17,20', '3,17,21', '3,17,22', '3,17,23', '3,18,18', '3,18,19', '3,18,20', '3,18,21', '3,18,22', '3,18,23', '3,19,19', '3,19,20', '3,19,21', '3,19,22', '3,19,23', '3,20,20', '3,20,21', '3,20,22', '3,20,23', '3,21,21', '3,21,22', '3,21,23', '3,22,22', '3,22,23', '3,23,23', '4,4,4', '4,4,5', '4,4,6', '4,4,7', '4,4,8', '4,4,9', '4,4,10', '4,4,11', '4,4,12', '4,4,13', '4,4,14', '4,4,15', '4,4,16', '4,4,17', '4,4,18', '4,4,19', '4,4,20', '4,4,21', '4,4,22', '4,4,23', '4,5,5', '4,5,6', '4,5,7', '4,5,8', '4,5,9', '4,5,10', '4,5,11', '4,5,12', '4,5,13', '4,5,14', '4,5,15', '4,5,16', '4,5,17', '4,5,18', '4,5,19', '4,5,20', '4,5,21', '4,5,22', '4,5,23', '4,6,6', '4,6,7', '4,6,8', '4,6,9', '4,6,10', '4,6,11', '4,6,12', '4,6,13', '4,6,14', '4,6,15', '4,6,16', '4,6,17', '4,6,18', '4,6,19', '4,6,20', '4,6,21', '4,6,22', '4,6,23', '4,7,7', '4,7,8', '4,7,9', '4,7,10', '4,7,11', '4,7,12', '4,7,13', '4,7,14', '4,7,15', '4,7,16', '4,7,17', '4,7,18', '4,7,19', '4,7,20', '4,7,21', '4,7,22', '4,7,23', '4,8,8', '4,8,9', '4,8,10', '4,8,11', '4,8,12', '4,8,13', '4,8,14', '4,8,15', '4,8,16', '4,8,17', '4,8,18', '4,8,19', '4,8,20', '4,8,21', '4,8,22', '4,8,23', '4,9,9', '4,9,10', '4,9,11', '4,9,12', '4,9,13', '4,9,14', '4,9,15', '4,9,16', '4,9,17', '4,9,18', '4,9,19', '4,9,20', '4,9,21', '4,9,22', '4,9,23', '4,10,10', '4,10,11', '4,10,12', '4,10,13', '4,10,14', '4,10,15', '4,10,16', '4,10,17', '4,10,18', '4,10,19', '4,10,20', '4,10,21', '4,10,22', '4,10,23', '4,11,11', '4,11,12', '4,11,13', '4,11,14', '4,11,15', '4,11,16', '4,11,17', '4,11,18', '4,11,19', '4,11,20', '4,11,21', '4,11,22', '4,11,23', '4,12,12', '4,12,13', '4,12,14', '4,12,15', '4,12,16', '4,12,17', '4,12,18', '4,12,19', '4,12,20', '4,12,21', '4,12,22', '4,12,23', '4,13,13', '4,13,14', '4,13,15', '4,13,16', '4,13,17', '4,13,18', '4,13,19', '4,13,20', '4,13,21', '4,13,22', '4,13,23', '4,14,14', '4,14,15', '4,14,16', '4,14,17', '4,14,18', '4,14,19', '4,14,20', '4,14,21', '4,14,22', '4,14,23', '4,15,15', '4,15,16', '4,15,17', '4,15,18', '4,15,19', '4,15,20', '4,15,21', '4,15,22', '4,15,23', '4,16,16', '4,16,17', '4,16,18', '4,16,19', '4,16,20', '4,16,21', '4,16,22', '4,16,23', '4,17,17', '4,17,18', '4,17,19', '4,17,20', '4,17,21', '4,17,22', '4,17,23', '4,18,18', '4,18,19', '4,18,20', '4,18,21', '4,18,22', '4,18,23', '4,19,19', '4,19,20', '4,19,21', '4,19,22', '4,19,23', '4,20,20', '4,20,21', '4,20,22', '4,20,23', '4,21,21', '4,21,22', '4,21,23', '4,22,22', '4,22,23', '4,23,23', '5,5,5', '5,5,6', '5,5,7', '5,5,8', '5,5,9', '5,5,10', '5,5,11', '5,5,12', '5,5,13', '5,5,14', '5,5,15', '5,5,16', '5,5,17', '5,5,18', '5,5,19', '5,5,20', '5,5,21', '5,5,22', '5,5,23', '5,6,6', '5,6,7', '5,6,8', '5,6,9', '5,6,10', '5,6,11', '5,6,12', '5,6,13', '5,6,14', '5,6,15', '5,6,16', '5,6,17', '5,6,18', '5,6,19', '5,6,20', '5,6,21', '5,6,22', '5,6,23', '5,7,7', '5,7,8', '5,7,9', '5,7,10', '5,7,11', '5,7,12', '5,7,13', '5,7,14', '5,7,15', '5,7,16', '5,7,17', '5,7,18', '5,7,19', '5,7,20', '5,7,21', '5,7,22', '5,7,23', '5,8,8', '5,8,9', '5,8,10', '5,8,11', '5,8,12', '5,8,13', '5,8,14', '5,8,15', '5,8,16', '5,8,17', '5,8,18', '5,8,19', '5,8,20', '5,8,21', '5,8,22', '5,8,23', '5,9,9', '5,9,10', '5,9,11', '5,9,12', '5,9,13', '5,9,14', '5,9,15', '5,9,16', '5,9,17', '5,9,18', '5,9,19', '5,9,20', '5,9,21', '5,9,22', '5,9,23', '5,10,10', '5,10,11', '5,10,12', '5,10,13', '5,10,14', '5,10,15', '5,10,16', '5,10,17', '5,10,18', '5,10,19', '5,10,20', '5,10,21', '5,10,22', '5,10,23', '5,11,11', '5,11,12', '5,11,13', '5,11,14', '5,11,15', '5,11,16', '5,11,17', '5,11,18', '5,11,19', '5,11,20', '5,11,21', '5,11,22', '5,11,23', '5,12,12', '5,12,13', '5,12,14', '5,12,15', '5,12,16', '5,12,17', '5,12,18', '5,12,19', '5,12,20', '5,12,21', '5,12,22', '5,12,23', '5,13,13', '5,13,14', '5,13,15', '5,13,16', '5,13,17', '5,13,18', '5,13,19', '5,13,20', '5,13,21', '5,13,22', '5,13,23', '5,14,14', '5,14,15', '5,14,16', '5,14,17', '5,14,18', '5,14,19', '5,14,20', '5,14,21', '5,14,22', '5,14,23', '5,15,15', '5,15,16', '5,15,17', '5,15,18', '5,15,19', '5,15,20', '5,15,21', '5,15,22', '5,15,23', '5,16,16', '5,16,17', '5,16,18', '5,16,19', '5,16,20', '5,16,21', '5,16,22', '5,16,23', '5,17,17', '5,17,18', '5,17,19', '5,17,20', '5,17,21', '5,17,22', '5,17,23', '5,18,18', '5,18,19', '5,18,20', '5,18,21', '5,18,22', '5,18,23', '5,19,19', '5,19,20', '5,19,21', '5,19,22', '5,19,23', '5,20,20', '5,20,21', '5,20,22', '5,20,23', '5,21,21', '5,21,22', '5,21,23', '5,22,22', '5,22,23', '5,23,23', '6,6,6', '6,6,7', '6,6,8', '6,6,9', '6,6,10', '6,6,11', '6,6,12', '6,6,13', '6,6,14', '6,6,15', '6,6,16', '6,6,17', '6,6,18', '6,6,19', '6,6,20', '6,6,21', '6,6,22', '6,6,23', '6,7,7', '6,7,8', '6,7,9', '6,7,10', '6,7,11', '6,7,12', '6,7,13', '6,7,14', '6,7,15', '6,7,16', '6,7,17', '6,7,18', '6,7,19', '6,7,20', '6,7,21', '6,7,22', '6,7,23', '6,8,8', '6,8,9', '6,8,10', '6,8,11', '6,8,12', '6,8,13', '6,8,14', '6,8,15', '6,8,16', '6,8,17', '6,8,18', '6,8,19', '6,8,20', '6,8,21', '6,8,22', '6,8,23', '6,9,9', '6,9,10', '6,9,11', '6,9,12', '6,9,13', '6,9,14', '6,9,15', '6,9,16', '6,9,17', '6,9,18', '6,9,19', '6,9,20', '6,9,21', '6,9,22', '6,9,23', '6,10,10', '6,10,11', '6,10,12', '6,10,13', '6,10,14', '6,10,15', '6,10,16', '6,10,17', '6,10,18', '6,10,19', '6,10,20', '6,10,21', '6,10,22', '6,10,23', '6,11,11', '6,11,12', '6,11,13', '6,11,14', '6,11,15', '6,11,16', '6,11,17', '6,11,18', '6,11,19', '6,11,20', '6,11,21', '6,11,22', '6,11,23', '6,12,12', '6,12,13', '6,12,14', '6,12,15', '6,12,16', '6,12,17', '6,12,18', '6,12,19', '6,12,20', '6,12,21', '6,12,22', '6,12,23', '6,13,13', '6,13,14', '6,13,15', '6,13,16', '6,13,17', '6,13,18', '6,13,19', '6,13,20', '6,13,21', '6,13,22', '6,13,23', '6,14,14', '6,14,15', '6,14,16', '6,14,17', '6,14,18', '6,14,19', '6,14,20', '6,14,21', '6,14,22', '6,14,23', '6,15,15', '6,15,16', '6,15,17', '6,15,18', '6,15,19', '6,15,20', '6,15,21', '6,15,22', '6,15,23', '6,16,16', '6,16,17', '6,16,18', '6,16,19', '6,16,20', '6,16,21', '6,16,22', '6,16,23', '6,17,17', '6,17,18', '6,17,19', '6,17,20', '6,17,21', '6,17,22', '6,17,23', '6,18,18', '6,18,19', '6,18,20', '6,18,21', '6,18,22', '6,18,23', '6,19,19', '6,19,20', '6,19,21', '6,19,22', '6,19,23', '6,20,20', '6,20,21', '6,20,22', '6,20,23', '6,21,21', '6,21,22', '6,21,23', '6,22,22', '6,22,23', '6,23,23', '7,7,7', '7,7,8', '7,7,9', '7,7,10', '7,7,11', '7,7,12', '7,7,13', '7,7,14', '7,7,15', '7,7,16', '7,7,17', '7,7,18', '7,7,19', '7,7,20', '7,7,21', '7,7,22', '7,7,23', '7,8,8', '7,8,9', '7,8,10', '7,8,11', '7,8,12', '7,8,13', '7,8,14', '7,8,15', '7,8,16', '7,8,17', '7,8,18', '7,8,19', '7,8,20', '7,8,21', '7,8,22', '7,8,23', '7,9,9', '7,9,10', '7,9,11', '7,9,12', '7,9,13', '7,9,14', '7,9,15', '7,9,16', '7,9,17', '7,9,18', '7,9,19', '7,9,20', '7,9,21', '7,9,22', '7,9,23', '7,10,10', '7,10,11', '7,10,12', '7,10,13', '7,10,14', '7,10,15', '7,10,16', '7,10,17', '7,10,18', '7,10,19', '7,10,20', '7,10,21', '7,10,22', '7,10,23', '7,11,11', '7,11,12', '7,11,13', '7,11,14', '7,11,15', '7,11,16', '7,11,17', '7,11,18', '7,11,19', '7,11,20', '7,11,21', '7,11,22', '7,11,23', '7,12,12', '7,12,13', '7,12,14', '7,12,15', '7,12,16', '7,12,17', '7,12,18', '7,12,19', '7,12,20', '7,12,21', '7,12,22', '7,12,23', '7,13,13', '7,13,14', '7,13,15', '7,13,16', '7,13,17', '7,13,18', '7,13,19', '7,13,20', '7,13,21', '7,13,22', '7,13,23', '7,14,14', '7,14,15', '7,14,16', '7,14,17', '7,14,18', '7,14,19', '7,14,20', '7,14,21', '7,14,22', '7,14,23', '7,15,15', '7,15,16', '7,15,17', '7,15,18', '7,15,19', '7,15,20', '7,15,21', '7,15,22', '7,15,23', '7,16,16', '7,16,17', '7,16,18', '7,16,19', '7,16,20', '7,16,21', '7,16,22', '7,16,23', '7,17,17', '7,17,18', '7,17,19', '7,17,20', '7,17,21', '7,17,22', '7,17,23', '7,18,18', '7,18,19', '7,18,20', '7,18,21', '7,18,22', '7,18,23', '7,19,19', '7,19,20', '7,19,21', '7,19,22', '7,19,23', '7,20,20', '7,20,21', '7,20,22', '7,20,23', '7,21,21', '7,21,22', '7,21,23', '7,22,22', '7,22,23', '7,23,23', '8,8,8', '8,8,9', '8,8,10', '8,8,11', '8,8,12', '8,8,13', '8,8,14', '8,8,15', '8,8,16', '8,8,17', '8,8,18', '8,8,19', '8,8,20', '8,8,21', '8,8,22', '8,8,23', '8,9,9', '8,9,10', '8,9,11', '8,9,12', '8,9,13', '8,9,14', '8,9,15', '8,9,16', '8,9,17', '8,9,18', '8,9,19', '8,9,20', '8,9,21', '8,9,22', '8,9,23', '8,10,10', '8,10,11', '8,10,12', '8,10,13', '8,10,14', '8,10,15', '8,10,16', '8,10,17', '8,10,18', '8,10,19', '8,10,20', '8,10,21', '8,10,22', '8,10,23', '8,11,11', '8,11,12', '8,11,13', '8,11,14', '8,11,15', '8,11,16', '8,11,17', '8,11,18', '8,11,19', '8,11,20', '8,11,21', '8,11,22', '8,11,23', '8,12,12', '8,12,13', '8,12,14', '8,12,15', '8,12,16', '8,12,17', '8,12,18', '8,12,19', '8,12,20', '8,12,21', '8,12,22', '8,12,23', '8,13,13', '8,13,14', '8,13,15', '8,13,16', '8,13,17', '8,13,18', '8,13,19', '8,13,20', '8,13,21', '8,13,22', '8,13,23', '8,14,14', '8,14,15', '8,14,16', '8,14,17', '8,14,18', '8,14,19', '8,14,20', '8,14,21', '8,14,22', '8,14,23', '8,15,15', '8,15,16', '8,15,17', '8,15,18', '8,15,19', '8,15,20', '8,15,21', '8,15,22', '8,15,23', '8,16,16', '8,16,17', '8,16,18', '8,16,19', '8,16,20', '8,16,21', '8,16,22', '8,16,23', '8,17,17', '8,17,18', '8,17,19', '8,17,20', '8,17,21', '8,17,22', '8,17,23', '8,18,18', '8,18,19', '8,18,20', '8,18,21', '8,18,22', '8,18,23', '8,19,19', '8,19,20', '8,19,21', '8,19,22', '8,19,23', '8,20,20', '8,20,21', '8,20,22', '8,20,23', '8,21,21', '8,21,22', '8,21,23', '8,22,22', '8,22,23', '8,23,23', '9,9,9', '9,9,10', '9,9,11', '9,9,12', '9,9,13', '9,9,14', '9,9,15', '9,9,16', '9,9,17', '9,9,18', '9,9,19', '9,9,20', '9,9,21', '9,9,22', '9,9,23', '9,10,10', '9,10,11', '9,10,12', '9,10,13', '9,10,14', '9,10,15', '9,10,16', '9,10,17', '9,10,18', '9,10,19', '9,10,20', '9,10,21', '9,10,22', '9,10,23', '9,11,11', '9,11,12', '9,11,13', '9,11,14', '9,11,15', '9,11,16', '9,11,17', '9,11,18', '9,11,19', '9,11,20', '9,11,21', '9,11,22', '9,11,23', '9,12,12', '9,12,13', '9,12,14', '9,12,15', '9,12,16', '9,12,17', '9,12,18', '9,12,19', '9,12,20', '9,12,21', '9,12,22', '9,12,23', '9,13,13', '9,13,14', '9,13,15', '9,13,16', '9,13,17', '9,13,18', '9,13,19', '9,13,20', '9,13,21', '9,13,22', '9,13,23', '9,14,14', '9,14,15', '9,14,16', '9,14,17', '9,14,18', '9,14,19', '9,14,20', '9,14,21', '9,14,22', '9,14,23', '9,15,15', '9,15,16', '9,15,17', '9,15,18', '9,15,19', '9,15,20', '9,15,21', '9,15,22', '9,15,23', '9,16,16', '9,16,17', '9,16,18', '9,16,19', '9,16,20', '9,16,21', '9,16,22', '9,16,23', '9,17,17', '9,17,18', '9,17,19', '9,17,20', '9,17,21', '9,17,22', '9,17,23', '9,18,18', '9,18,19', '9,18,20', '9,18,21', '9,18,22', '9,18,23', '9,19,19', '9,19,20', '9,19,21', '9,19,22', '9,19,23', '9,20,20', '9,20,21', '9,20,22', '9,20,23', '9,21,21', '9,21,22', '9,21,23', '9,22,22', '9,22,23', '9,23,23', '10,10,10', '10,10,11', '10,10,12', '10,10,13', '10,10,14', '10,10,15', '10,10,16', '10,10,17', '10,10,18', '10,10,19', '10,10,20', '10,10,21', '10,10,22', '10,10,23', '10,11,11', '10,11,12', '10,11,13', '10,11,14', '10,11,15', '10,11,16', '10,11,17', '10,11,18', '10,11,19', '10,11,20', '10,11,21', '10,11,22', '10,11,23', '10,12,12', '10,12,13', '10,12,14', '10,12,15', '10,12,16', '10,12,17', '10,12,18', '10,12,19', '10,12,20', '10,12,21', '10,12,22', '10,12,23', '10,13,13', '10,13,14', '10,13,15', '10,13,16', '10,13,17', '10,13,18', '10,13,19', '10,13,20', '10,13,21', '10,13,22', '10,13,23', '10,14,14', '10,14,15', '10,14,16', '10,14,17', '10,14,18', '10,14,19', '10,14,20', '10,14,21', '10,14,22', '10,14,23', '10,15,15', '10,15,16', '10,15,17', '10,15,18', '10,15,19', '10,15,20', '10,15,21', '10,15,22', '10,15,23', '10,16,16', '10,16,17', '10,16,18', '10,16,19', '10,16,20', '10,16,21', '10,16,22', '10,16,23', '10,17,17', '10,17,18', '10,17,19', '10,17,20', '10,17,21', '10,17,22', '10,17,23', '10,18,18', '10,18,19', '10,18,20', '10,18,21', '10,18,22', '10,18,23', '10,19,19', '10,19,20', '10,19,21', '10,19,22', '10,19,23', '10,20,20', '10,20,21', '10,20,22', '10,20,23', '10,21,21', '10,21,22', '10,21,23', '10,22,22', '10,22,23', '10,23,23', '11,11,11', '11,11,12', '11,11,13', '11,11,14', '11,11,15', '11,11,16', '11,11,17', '11,11,18', '11,11,19', '11,11,20', '11,11,21', '11,11,22', '11,11,23', '11,12,12', '11,12,13', '11,12,14', '11,12,15', '11,12,16', '11,12,17', '11,12,18', '11,12,19', '11,12,20', '11,12,21', '11,12,22', '11,12,23', '11,13,13', '11,13,14', '11,13,15', '11,13,16', '11,13,17', '11,13,18', '11,13,19', '11,13,20', '11,13,21', '11,13,22', '11,13,23', '11,14,14', '11,14,15', '11,14,16', '11,14,17', '11,14,18', '11,14,19', '11,14,20', '11,14,21', '11,14,22', '11,14,23', '11,15,15', '11,15,16', '11,15,17', '11,15,18', '11,15,19', '11,15,20', '11,15,21', '11,15,22', '11,15,23', '11,16,16', '11,16,17', '11,16,18', '11,16,19', '11,16,20', '11,16,21', '11,16,22', '11,16,23', '11,17,17', '11,17,18', '11,17,19', '11,17,20', '11,17,21', '11,17,22', '11,17,23', '11,18,18', '11,18,19', '11,18,20', '11,18,21', '11,18,22', '11,18,23', '11,19,19', '11,19,20', '11,19,21', '11,19,22', '11,19,23', '11,20,20', '11,20,21', '11,20,22', '11,20,23', '11,21,21', '11,21,22', '11,21,23', '11,22,22', '11,22,23', '11,23,23', '12,12,12', '12,12,13', '12,12,14', '12,12,15', '12,12,16', '12,12,17', '12,12,18', '12,12,19', '12,12,20', '12,12,21', '12,12,22', '12,12,23', '12,13,13', '12,13,14', '12,13,15', '12,13,16', '12,13,17', '12,13,18', '12,13,19', '12,13,20', '12,13,21', '12,13,22', '12,13,23', '12,14,14', '12,14,15', '12,14,16', '12,14,17', '12,14,18', '12,14,19', '12,14,20', '12,14,21', '12,14,22', '12,14,23', '12,15,15', '12,15,16', '12,15,17', '12,15,18', '12,15,19', '12,15,20', '12,15,21', '12,15,22', '12,15,23', '12,16,16', '12,16,17', '12,16,18', '12,16,19', '12,16,20', '12,16,21', '12,16,22', '12,16,23', '12,17,17', '12,17,18', '12,17,19', '12,17,20', '12,17,21', '12,17,22', '12,17,23', '12,18,18', '12,18,19', '12,18,20', '12,18,21', '12,18,22', '12,18,23', '12,19,19', '12,19,20', '12,19,21', '12,19,22', '12,19,23', '12,20,20', '12,20,21', '12,20,22', '12,20,23', '12,21,21', '12,21,22', '12,21,23', '12,22,22', '12,22,23', '12,23,23', '13,13,13', '13,13,14', '13,13,15', '13,13,16', '13,13,17', '13,13,18', '13,13,19', '13,13,20', '13,13,21', '13,13,22', '13,13,23', '13,14,14', '13,14,15', '13,14,16', '13,14,17', '13,14,18', '13,14,19', '13,14,20', '13,14,21', '13,14,22', '13,14,23', '13,15,15', '13,15,16', '13,15,17', '13,15,18', '13,15,19', '13,15,20', '13,15,21', '13,15,22', '13,15,23', '13,16,16', '13,16,17', '13,16,18', '13,16,19', '13,16,20', '13,16,21', '13,16,22', '13,16,23', '13,17,17', '13,17,18', '13,17,19', '13,17,20', '13,17,21', '13,17,22', '13,17,23', '13,18,18', '13,18,19', '13,18,20', '13,18,21', '13,18,22', '13,18,23', '13,19,19', '13,19,20', '13,19,21', '13,19,22', '13,19,23', '13,20,20', '13,20,21', '13,20,22', '13,20,23', '13,21,21', '13,21,22', '13,21,23', '13,22,22', '13,22,23', '13,23,23', '14,14,14', '14,14,15', '14,14,16', '14,14,17', '14,14,18', '14,14,19', '14,14,20', '14,14,21', '14,14,22', '14,14,23', '14,15,15', '14,15,16', '14,15,17', '14,15,18', '14,15,19', '14,15,20', '14,15,21', '14,15,22', '14,15,23', '14,16,16', '14,16,17', '14,16,18', '14,16,19', '14,16,20', '14,16,21', '14,16,22', '14,16,23', '14,17,17', '14,17,18', '14,17,19', '14,17,20', '14,17,21', '14,17,22', '14,17,23', '14,18,18', '14,18,19', '14,18,20', '14,18,21', '14,18,22', '14,18,23', '14,19,19', '14,19,20', '14,19,21', '14,19,22', '14,19,23', '14,20,20', '14,20,21', '14,20,22', '14,20,23', '14,21,21', '14,21,22', '14,21,23', '14,22,22', '14,22,23', '14,23,23', '15,15,15', '15,15,16', '15,15,17', '15,15,18', '15,15,19', '15,15,20', '15,15,21', '15,15,22', '15,15,23', '15,16,16', '15,16,17', '15,16,18', '15,16,19', '15,16,20', '15,16,21', '15,16,22', '15,16,23', '15,17,17', '15,17,18', '15,17,19', '15,17,20', '15,17,21', '15,17,22', '15,17,23', '15,18,18', '15,18,19', '15,18,20', '15,18,21', '15,18,22', '15,18,23', '15,19,19', '15,19,20', '15,19,21', '15,19,22', '15,19,23', '15,20,20', '15,20,21', '15,20,22', '15,20,23', '15,21,21', '15,21,22', '15,21,23', '15,22,22', '15,22,23', '15,23,23', '16,16,16', '16,16,17', '16,16,18', '16,16,19', '16,16,20', '16,16,21', '16,16,22', '16,16,23', '16,17,17', '16,17,18', '16,17,19', '16,17,20', '16,17,21', '16,17,22', '16,17,23', '16,18,18', '16,18,19', '16,18,20', '16,18,21', '16,18,22', '16,18,23', '16,19,19', '16,19,20', '16,19,21', '16,19,22', '16,19,23', '16,20,20', '16,20,21', '16,20,22', '16,20,23', '16,21,21', '16,21,22', '16,21,23', '16,22,22', '16,22,23', '16,23,23', '17,17,17', '17,17,18', '17,17,19', '17,17,20', '17,17,21', '17,17,22', '17,17,23', '17,18,18', '17,18,19', '17,18,20', '17,18,21', '17,18,22', '17,18,23', '17,19,19', '17,19,20', '17,19,21', '17,19,22', '17,19,23', '17,20,20', '17,20,21', '17,20,22', '17,20,23', '17,21,21', '17,21,22', '17,21,23', '17,22,22', '17,22,23', '17,23,23', '18,18,18', '18,18,19', '18,18,20', '18,18,21', '18,18,22', '18,18,23', '18,19,19', '18,19,20', '18,19,21', '18,19,22', '18,19,23', '18,20,20', '18,20,21', '18,20,22', '18,20,23', '18,21,21', '18,21,22', '18,21,23', '18,22,22', '18,22,23', '18,23,23', '19,19,19', '19,19,20', '19,19,21', '19,19,22', '19,19,23', '19,20,20', '19,20,21', '19,20,22', '19,20,23', '19,21,21', '19,21,22', '19,21,23', '19,22,22', '19,22,23', '19,23,23', '20,20,20', '20,20,21', '20,20,22', '20,20,23', '20,21,21', '20,21,22', '20,21,23', '20,22,22', '20,22,23', '20,23,23', '21,21,21', '21,21,22', '21,21,23', '21,22,22', '21,22,23', '21,23,23', '22,22,22', '22,22,23', '22,23,23', '23,23,23']

In [357]:
# getGenreCombo - usage, comma separated string of genres as input, returns combo numberz
myGenres1 = 'Action,Comedy'
myGenres2 = 'Comedy,Action'

def genresToNumbers(glist):
    glist = glist.split(',')
    glist = [gd[element] for element in glist]
    return glist

def genreNumsToComboNumAdd0(numList):
    if(len(numList) < 3):
        numList.append(0)
        genreNumsToComboNumAdd0(numList)
    return numList

def genreNumsToComboNum(numList):
    numList = genreNumsToComboNumAdd0(numList)
    numList.sort()
    numList = [str(element) for element in numList]
    numList = ",".join(numList)
    return perms.index(numList)

def getGenreCombo(genres):
    return genreNumsToComboNum(genresToNumbers(genres))

[2, 4, 23]

638

In [324]:
df6.genres = df6.genres.apply(getGenreCombo)
df6.head()

,startYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers,nconst
936,1915,195,324,6.3,22122.0,428.0,"nm0228746,nm0000428,nm0940488",nm0910400
1937,1916,163,25,7.8,13835.0,428.0,"nm0048512,nm0115218,nm0000428,nm0002616,nm0640...","nm0366008,nm0877548"
4436,1920,76,1081,8.1,55301.0,927468.0,"nm0562346,nm0417917","nm0470328,nm0891998,nm0270415"
6047,1921,68,424,8.3,108411.0,122.0,nm0000122,"nm0088471,nm0000122,nm0001067,nm0588033,nm0042..."
6807,1922,91,620,7.7,11721.0,159725.0,nm0159725,nm0159725

In [325]:
df6.head()

,startYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers,nconst
936,1915,195,324,6.3,22122.0,428.0,"nm0228746,nm0000428,nm0940488",nm0910400
1937,1916,163,25,7.8,13835.0,428.0,"nm0048512,nm0115218,nm0000428,nm0002616,nm0640...","nm0366008,nm0877548"
4436,1920,76,1081,8.1,55301.0,927468.0,"nm0562346,nm0417917","nm0470328,nm0891998,nm0270415"
6047,1921,68,424,8.3,108411.0,122.0,nm0000122,"nm0088471,nm0000122,nm0001067,nm0588033,nm0042..."
6807,1922,91,620,7.7,11721.0,159725.0,nm0159725,nm0159725

In [326]:
dfpop = df6.sort_values(['averageRating'], ascending=False)
dfpop

,startYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers,nconst
144278,1975,87,30,9.3,36163.0,251027.0,"nm0119457,nm0407642","nm0839017,nm0654805,nm0015145,nm0015081"
77820,1994,142,1,9.3,2270157.0,1104.0,"nm0000175,nm0001104","nm0000209,nm0000151,nm0348409,nm0006669"
368745,2013,139,149,9.2,43342.0,2339782.0,nm0948000,NaN
50222,1972,175,41,9.2,1565883.0,338.0,"nm0701374,nm0000338","nm0000008,nm0000199,nm0001001"
522753,2020,101,428,9.1,93621.0,2535507.0,"nm4264671,nm7929999,nm2354099,nm2352210,nm1981261","nm3818286,nm1306410,nm1384413"
...,...,...,...,...,...,...,...,...
321381,2011,105,187,1.6,75066.0,160840.0,\N,NaN
414120,2014,79,148,1.4,14788.0,229544.0,"nm0229544,nm6805281","nm0131647,nm0229544,nm3955339"
471077,2017,108,38,1.4,72142.0,1760911.0,nm8890606,"nm2900622,nm1055050,nm1513231,nm5589612,nm1758900"
426903,2015,114,141,1.3,27075.0,2930027.0,\N,"nm0876570,nm1203229,nm1127784,nm0477978,nm2127..."
502363,2017,100,7,1.0,37563.0,9107963.0,"nm9180829,nm9107963,nm9107965","nm7835997,nm7038164,nm7314835"

In [335]:
dfpop = pd.merge(df1,crew,on='tconst',how='left')
dfpop.head()

,tconst,isAdult,startYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers
0,tt0000009,0,1894,45,Romance,5.9,154.0,nm0085156,nm0085156
1,tt0000147,0,1897,20,"Documentary,News,Sport",5.2,355.0,nm0714557,\N
2,tt0000335,0,1900,\N,"Biography,Drama",6.1,41.0,"nm0095714,nm0675140",\N
3,tt0000502,0,1905,100,\N,3.8,6.0,nm0063413,"nm0063413,nm0657268,nm0675388"
4,tt0000574,0,1906,70,"Biography,Crime,Drama",6.1,588.0,nm0846879,nm0846879

In [354]:
dfpop.directors = dfpop.directors.apply(firstName)

TypeError: 'NoneType' object is not subscriptable

In [356]:
getGenreCombo('History,Fantasy,News')z

638

In [360]:
df6.sort_values(by=['numVotes'])

,startYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers,nconst
80440,1996,101,148,5.3,10006.0,262693.0,nm0445552,"nm0005435,nm0682302,nm0101711,nm0124079"
11394,1928,76,424,8.1,10007.0,781292.0,"nm0115669,nm0513858,nm0267868,nm0090213,nm0604526","nm0000036,nm0329467,nm0102718"
23273,1941,116,35,8.0,10008.0,943758.0,"nm0375484,nm0462111,nm0662213,nm0132180","nm0003339,nm0137999"
37830,1958,93,352,7.3,10009.0,936404.0,"nm0310775,nm0063459","nm0000022,nm0000044,nm0912001,nm0223290"
530850,2019,85,428,6.1,10009.0,53228.0,"nm0229800,nm0229801","nm0000507,nm1283879,nm7619737"
...,...,...,...,...,...,...,...,...
77657,1994,154,41,8.9,1774104.0,233.0,"nm0000233,nm0000812","nm0000237,nm0000168,nm0000246"
91880,1999,139,1,8.8,1801220.0,399.0,"nm0657333,nm0880243","nm0000093,nm0001570,nm0001533,nm0340260"
299289,2010,148,2080,8.8,1991458.0,634240.0,nm0634240,"nm0000138,nm0330687,nm0913822"
210613,2008,152,479,9.0,2233191.0,634240.0,"nm0634300,nm0634240,nm0333060,nm0004170","nm0000288,nm0005132,nm0001173,nm0000323"
77820,1994,142,1,9.3,2270157.0,1104.0,"nm0000175,nm0001104","nm0000209,nm0000151,nm0348409,nm0006669"